#App {
    padding-top: 6%;
    height: 100vh;
    overflow: visible;
    width: 80%;
    text-align: center;
    padding-left: 24.5%;
    background: ghostwhite;
    color: black;
}
#start-game {

}

#App.default {
    background: ghostwhite;
    color: black;
}

#App.dark {
    color: #758bb4;
    background-color: #131054;
}

#App.gay {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 300%;
    -webkit-animation: rainbow 18s ease infinite;
    /*-z-animation: rainbow 10s ease infinite;*/
    -o-animation: rainbow 18s linear infinite;
    animation: rainbow 18s ease infinite;
}

#start-game.default {

}

#start-game.default {

}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
