.App {text-align: center;}
body{
  /*animation: Spin infinite 1s linear;*/
  background-color: #282b31;
  color:whitesmoke;
  overflow: hidden;
}
.welcome-container{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  animation: fadeInAnimation ease 2s;
}
.topbar{
  background-color:#131313;
  animation: fallDownAnimation ease 1s;
  display: grid;
  grid-template-columns: repeat(4,25%);
  height: 100px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  text-align: center;
  box-shadow:inset 1px -2px 11px 0px black;
}
.topbar-option {
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}

@keyframes Spin {
  from {transform: rotate(-1deg);}
  to {transform: rotate(1deg);}
}

@keyframes fadeInAnimation{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}
@keyframes fallDownAnimation{
  from{
    transform: translateY(-100%);
  }
  to{
    transform:translateY(0%)
  }
}
@keyframes slideFromLeft {
  from{
    transform: translateX(-100%)
  }
  to{
    transform:translateX(0%)
  }
  
}
.game-options{
  display:flex;
  height: 100vh;
}
.start-game{
  flex: 80%;
  background-color: #282b31;
}
.start-game{
  background-color: antiquewhite;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  text-align: center;
  display:flex;
}
.start-button{
  font-size: 25px;
  cursor: pointer;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {color: #000}
.glow-on-hover:active:after {background: transparent;}
.glow-on-hover:hover:before {opacity: 1;}
.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.links{
  position:absolute;
  margin-bottom: 25%
}
.links-output{
  color:black;
}