/* Style for the settings sidebar */
#settings-sidebar {
    transition: right 0.5s ease; /* Add smooth sliding transition */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    text-align: center;
    color: aliceblue;
    background: #282b31;
    font-family: Avenir;
    height: 100vh;
    width:20%;
    overflow: hidden;
    margin-left:100%;
    position:absolute
}
#settingsButton {
    position: fixed;
    text-align: center;
    top: 10px;
    right: 10px;
    background-color: #7387af;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#theme-select {background: lightcyan}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

/* Default Themes (Pretty much done) */
#settings-sidebar.default {
    color: aliceblue;
    background: #282b31;
}
#settingsButton.default {
    background-color: #7387af;
    color: #fff;
}
#theme-select.default {background: lightcyan}
.slider.default {background-color: #ccc;}
.slider.default:before {background-color: white;}
input:checked + .slider.default {background-color: #2196F3;}
input:focus + .slider.default {box-shadow: 0 0 1px #2196F3;}


/* Dark Themes (Pretty much done) */
#settings-sidebar.dark {
    color: aliceblue;
    background: #1d233d;
}
#settingsButton.dark {
    background-color: #7387af;
    color: #fff;
}
#theme-select.dark {background: #758bb4; color: black}
.slider.dark {background-color: #8d8d8d;}
.slider.dark:before {background-color: #eaeaea;}
input:checked + .slider.dark {background: blue;}
input:focus + .slider.dark {box-shadow: 0 0 1px blue;}

/* Pastel Themes */
#settings-sidebar.pastel {
    color: aliceblue;
    background: #1d233d;
}
#settingsButton.pastel {
    background-color: #7387af;
    color: #fff;
}
#theme-select.pastel {background: #85ffff; color: black}
.slider.pastel {background-color: #ccc;}
.slider.pastel:before {background-color: white;}
input:checked + .slider.pastel {background-color: #2196F3;}
input:focus + .slider.pastel {box-shadow: 0 0 1px #2196F3;}

/* Gay Themes */
#settings-sidebar.gay {
    background: linear-gradient(180deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 100% 300%;
    -webkit-animation: rainbow 10s ease infinite;
    /*-z-animation: rainbow 10s ease infinite;*/
    -o-animation: rainbow 10s linear infinite;
    animation: rainbow 10s ease infinite;
}
#settingsButton.gay {
    background-color: #7387af;
    color: #fff;
}
#theme-select.gay {background: mediumvioletred; color: black}
.slider.gay {background-color: #ccc;}
.slider.gay:before {background-color: white;}
input:checked + .slider.gay {background-color: #00ffea;}
input:focus + .slider.gay {box-shadow: 0 0 1px #00ffea;}

/* Kevin Themes */
#settings-sidebar.kevin {
    color: aliceblue;
    background: #1d233d;
}
#settingsButton.kevin {
    background-color: #7387af;
    color: #fff;
}
#theme-select.kevin {background: #0038A8; color: white}
.slider.kevin {background-color: #ccc;}
.slider.kevin:before {background-color: white;}
input:checked + .slider.kevin {background-color: #0038A8;}
input:focus + .slider.kevin {box-shadow: 0 0 1px #0038A8;}

/* Drac Themes */
#settings-sidebar.drac {
    color: red;
    background: #262c2d;
}
#settingsButton.drac {
    background-color: #7387af;
    color: #fff;
}
#theme-select.drac {background: linear-gradient(45deg, #ff0000, #000000);color: black}
.slider.drac {background-color: #5b5b5b;}
.slider.drac:before {background-color: white;}
input:checked + .slider.drac {background-color: red;}
input:focus + .slider.drac {box-shadow: 0 0 1px red;}

/* Marley Themes */
#settings-sidebar.marley {
    color: white;
    background: #262c2d;
}
#settingsButton.marley {
    background-color: #7387af;
    color: #fff;
}
#theme-select.marley {background: mediumpurple; color: blue}
.slider.marley {background-color: #ccc;}
.slider.marley:before {background-color: white;}
input:checked + .slider.marley {background-color: midnightblue;}
input:focus + .slider.marley {box-shadow: 0 0 1px midnightblue;}


@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}