/* Style for the settings sidebar */
#settings-sidebar {
    transition: right 0.5s ease; /* Add smooth sliding transition */
    box-shadow: 0 0 10px #000000;
    align-items: center;
    text-align: center;
    color: var(--settings-text-color);
    background: var(--settings-bg);
    font-family: var(--overall-font-family);
    height: 100vh;
    width:20%;
    overflow: hidden;
    margin-left:100%;
    position:absolute
}
#theme-select {
    background: var(--theme-select-bg);
    color: var(--theme-select-color);
    font-family: var(--overall-font-family);
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--embed-toggle-inactive-bg);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: var(--embed-toggle-color);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {background: var(--embed-toggle-active-bg);}
input:focus + .slider {box-shadow: 0 0 1px var(--embed-toggle-active-bg);}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

/* Themes */
.default {
    --settings-bg: #282b31;
    --settings-text-color: whitesmoke;
    --theme-select-bg: lightcyan;
    --theme-select-color: black;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #ccc;
    --embed-toggle-active-bg: #2196F3;
}
.dark {
    --settings-bg: #282b31;
    --settings-text-color: #dedede;
    --theme-select-bg: #758bb4;
    --theme-select-color: black;
    --embed-toggle-color: #eaeaea;
    --embed-toggle-inactive-bg: #8d8d8d;
    --embed-toggle-active-bg: blue;
}
.neon {
    --settings-bg: #282b31;
    --settings-text-color: #dedede;
    --theme-select-bg: #758bb4;
    --theme-select-color: black;
    --embed-toggle-color: #eaeaea;
    --embed-toggle-inactive-bg: #8d8d8d;
    --embed-toggle-active-bg: blue;
}
.pastel {
    --settings-bg: #7effab;
    --settings-text-color: #7e92ff;
    --theme-select-bg: #85ffff;
    --theme-select-color: black;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #ccc;
    --embed-toggle-active-bg: #ffee9b;
}
.gay {
    --settings-bg: linear-gradient(180deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    --settings-text-color: black;
    --theme-select-bg: linear-gradient(90deg, #ff2400, #e8b71d, #1de840, #1d93e8,  #dd00f3);
    --theme-select-color: black;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #ccc;
    --embed-toggle-active-bg: linear-gradient(90deg, #ff2400, #e8b71d, #1de840, #1d93e8,  #dd00f3);
}
#settings-sidebar.gay {
    background-size: 100% 300%;
    overflow: hidden;
    -webkit-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s linear infinite;
    animation: rainbow 10s ease infinite;
} /* Necessary for animation stuff */
.kevin {
    --settings-bg: linear-gradient(180deg, #D60270, #0038A8);
    --settings-text-color: white;
    --theme-select-bg: #0041c5;
    --theme-select-color: white;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #ccc;
    --embed-toggle-active-bg: #0038A8;
}
.drac {
    --settings-bg: #262c2d;
    --settings-text-color: red;
    --theme-select-bg: linear-gradient(45deg, red, black);
    --theme-select-color: black;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #5b5b5b;
    --embed-toggle-active-bg: red;
}
.barbie {
    --settings-bg: #7effab;
    --settings-text-color: #7e92ff;
    --theme-select-bg: #85ffff;
    --theme-select-color: black;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #ccc;
    --embed-toggle-active-bg: #ffee9b;
}
.marley {
    --settings-bg: #262c2d;
    --settings-text-color: whitesmoke;
    --theme-select-bg: mediumpurple;
    --theme-select-color: blue;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #ccc;
    --embed-toggle-active-bg: midnightblue;
}


@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}