/* Style for the sidebar */
#settings-sidebar {
    position: fixed;
    top: 10%;
    right: -20%; /* Initially hidden to the right */
    width: 20%;
    height: 100%;
    transition: right 0.3s ease; /* Add smooth sliding transition */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    text-align: center;
    color: aliceblue;
    background: #1d233d;
    font-family: Avenir;
}
/* Style for the button */
#settingsButton {
    position: fixed;
    text-align: center;
    top: 10px;
    right: 10px;
    background-color: #7387af;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

/* Default Themes */
#settings-sidebar.default {
    color: aliceblue;
    background: #1d233d;
}
#settingsButton.default {
    background-color: #7387af;
    color: #fff;
}
.slider.default {background-color: #ccc;}
.slider.default:before {background-color: white;}
input:checked + .slider.default {background-color: #2196F3;}
input:focus + .slider.default {box-shadow: 0 0 1px #2196F3;}


/* Dark Themes */
#settings-sidebar.dark {
    color: aliceblue;
    background: #1d233d;
}
#settingsButton.dark {
    background-color: #7387af;
    color: #fff;
}
.slider.dark {background-color: #ccc;}
.slider.dark:before {background-color: white;}
input:checked + .slider.dark {background-color: #2196F3;}
input:focus + .slider.dark {box-shadow: 0 0 1px #2196F3;}

/* Pastel Themes */
#settings-sidebar.pastel {
    color: aliceblue;
    background: #1d233d;
}
#settingsButton.pastel {
    background-color: #7387af;
    color: #fff;
}
.slider.pastel {background-color: #ccc;}
.slider.pastel:before {background-color: white;}
input:checked + .slider.pastel {background-color: #2196F3;}
input:focus + .slider.pastel {box-shadow: 0 0 1px #2196F3;}

/* Gay Themes */
#settings-sidebar.gay {
    background: linear-gradient(180deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 100% 300%;
    -webkit-animation: rainbow 10s ease infinite;
    /*-z-animation: rainbow 10s ease infinite;*/
    -o-animation: rainbow 10s linear infinite;
    animation: rainbow 10s ease infinite;
}
#settingsButton.gay {
    background-color: #7387af;
    color: #fff;
}
.slider.gay {background-color: #ccc;}
.slider.gay:before {background-color: white;}
input:checked + .slider.gay {background-color: #00ffea;}
input:focus + .slider.gay {box-shadow: 0 0 1px #00ffea;}

/* Kevin Themes */
#settings-sidebar.kevin {
    color: aliceblue;
    background: #1d233d;
}
#settingsButton.kevin {
    background-color: #7387af;
    color: #fff;
}
.slider.kevin {background-color: #ccc;}
.slider.kevin:before {background-color: white;}
input:checked + .slider.kevin {background-color: #0038A8;}
input:focus + .slider.kevin {box-shadow: 0 0 1px #0038A8;}

/* Drac Themes */
#settings-sidebar.drac {
    color: aliceblue;
    background: #1d233d;
}
#settingsButton.drac {
    background-color: #7387af;
    color: #fff;
}
.slider.drac {background-color: #ccc;}
.slider.drac:before {background-color: white;}
input:checked + .slider.drac {background-color: #2196F3;}
input:focus + .slider.drac {box-shadow: 0 0 1px #2196F3;}


@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}