/* Style for the Sidebar */
#sidebar {
    z-index: 2;
    flex:33%;
    background: var(--sidebar-bg);
    animation: slideFromLeft ease 1.5s;
    text-align: center;
    box-shadow: 0 0 10px #000000;
    color: var(--sidebar-color);
    font-family: var(--overall-font-family);
}
#sidebar-headings{
    font-size: 30px;
    color: var(--sidebar-bg);
}
.num-song-box {
    color: var(--sidebar-textbox-color);
    background: var(--sidebar-textbox-bg);
}
.name-playlist-box {
    color: var(--sidebar-textbox-color);
    background: var(--sidebar-textbox-bg);
}
.add-button {
    color: var(--add-button-color);
    background: var(--add-button-bg);
    border-radius: 25%;
    border: var(--button-border);
    cursor: pointer;
    margin-right: 5%;
}
.clear-button {
    color: var(--clear-button-color);
    background: var(--clear-button-bg);
    border-radius: 25%;
    border: var(--button-border);
    cursor: pointer;
}
.tab {
    font-size: 20px;
    color: var(--inactive-tab-color);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    width: 50%;
    height:6%;
    animation: fadeInAnimation ease 1s;
    background: #15161a;
    box-shadow: inset  1px -1px 20px 1px var(--inactive-tab-bg);
}
.tab.active {
    background: var(--active-tab-bg);
    color: var(--sidebar-color);
    box-shadow:none;
}
.tab.active:hover {background: var(--active-tab-bg);}
.tab:hover {background: var(--tab-highlight-color);}

/* Themes */
.default {
    --sidebar-bg: #282b31;
    --sidebar-color: whitesmoke;
    --sidebar-textbox-color: #919191;
    --sidebar-textbox-bg: lightcyan;
    --sidebar-shadow-color: #15161a;
    --add-button-bg: #00ff00;
    --add-button-color: black;
    --clear-button-bg: red;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: sidebar-bg;
    --inactive-tab-bg: black;
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #4E545FFF;
}
.dark {
    --sidebar-bg: #282b31;
    --sidebar-color: #dedede;
    --sidebar-textbox-color: #aaaac5;
    --sidebar-textbox-bg: #464f5b;
    --sidebar-shadow-color: #15161a;
    --add-button-bg: #179b2c;
    --add-button-color: black;
    --clear-button-bg: #e10202;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: sidebar-bg;
    --inactive-tab-bg: black;
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #4E545FFF;
}
.pastel {
    --sidebar-bg: #7effab;
    --sidebar-color: #7e92ff;
    --sidebar-textbox-color: #7e92ff;
    --sidebar-textbox-bg: lightcyan;
    --sidebar-shadow-color: #15161a;
    --add-button-bg: #02ff25;
    --add-button-color: black;
    --clear-button-bg: #ff4141;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: sidebar-bg;
    --inactive-tab-bg: black;
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #4E545FFF;
}
.gay {
    --sidebar-bg: linear-gradient(180deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);;
    --sidebar-color: white;
    --sidebar-textbox-color: #df5cff;
    --sidebar-textbox-bg: lightcyan;
    --sidebar-shadow-color: #15161a;
    --add-button-bg: #00ff00;
    --add-button-color: black;
    --clear-button-bg: red;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: sidebar-bg;
    --inactive-tab-bg: black;
    --inactive-tab-color: white;
    --tab-highlight-color: linear-gradient(180deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);;;
}
#sidebar.gay {
    background-size: 100% 300%;
    overflow: hidden;
    -webkit-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s linear infinite;
    animation: rainbow 10s ease infinite;
} /* Necessary for animation stuff */
.kevin {
    --sidebar-bg: linear-gradient(180deg, #D60270, #0038A8);
    --sidebar-color: white;
    --sidebar-textbox-color: #a73df1;
    --sidebar-textbox-bg: #bed5ff;
    --sidebar-shadow-color: #15161a;
    --add-button-bg: #179b2c;
    --add-button-color: black;
    --clear-button-bg: red;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: linear-gradient(180deg,#D60270, #c90073);
    --inactive-tab-bg: black;
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #4E545FFF;
}
.drac {
    --sidebar-bg: #282b31;
    --sidebar-color: red;
    --sidebar-textbox-color: black;
    --sidebar-textbox-bg: #ffa0a0;
    --sidebar-shadow-color: #15161a;
    --add-button-bg: #00ff00;
    --add-button-color: black;
    --clear-button-bg: red;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: sidebar-bg;
    --inactive-tab-bg: black;
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #ff0000;
}
.marley {
    --sidebar-bg: #282b31;
    --sidebar-color: whitesmoke;
    --sidebar-textbox-color: #919191;
    --sidebar-textbox-bg: lightcyan;
    --sidebar-shadow-color: #15161a;
    --add-button-bg: #00ff00;
    --add-button-color: black;
    --clear-button-bg: red;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: sidebar-bg;
    --inactive-tab-bg: black;
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #4E545FFF;
}