#topbar {
    background-color: var(--topbar-bg);
    animation: fallDownAnimation ease 1.5s;
    display: grid;
    grid-template-columns: repeat(4,25%);
    height: 100px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow:inset 1px -2px 11px 0px black;
}
.topbar-option {
    cursor: pointer;
    font-family: var(--overall-font-family);
    font-weight: bold;
    font-size: 25px;
    color: var(--topbar-color);
    text-shadow: var(--topbar-glow);
}
#title {
    color: var(--title-color);
    text-shadow: var(--title-glow);
    font-size: 30px;
}

/* Themes */
.default {
    --topbar-bg: #252525;
    --title-color: mediumslateblue;
    --topbar-color: whitesmoke;
}
.dark {
    --topbar-bg: #252525;
    --title-color: mediumslateblue;
    --topbar-color: #dedede;
}
.neon {
    --topbar-bg: #252525;
    --title-color: var(--topbar-bg);
    --title-glow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 7px #6f00ff, 0 0 15px #6f00ff;
    --topbar-glow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 7px #0048ff, 0 0 15px #0048ff;
    --topbar-color: var(--topbar-bg);
}
.pastel {
    --topbar-bg: #57f5f5;
    --title-color: #ff80e2;
    --topbar-color: #f5f557;
}
.gay {
    --topbar-bg: #000000;
    --title-color: mediumslateblue;
    --topbar-color: whitesmoke;
}
.kevin {
    --topbar-bg: #2e4bbe;
    --title-color: mediumslateblue;
    --topbar-color: whitesmoke;
}
.drac {
    --topbar-bg: #252525;
    --title-color: red;
    --topbar-color: orangered;
}
.barbie {
    --topbar-bg: #57f5f5;
    --title-color: #ff80e2;
    --topbar-color: #f5f557;
}
.marley {
    --topbar-bg: #252525;
    --title-color: mediumslateblue;
    --topbar-color: whitesmoke;
}