#topbar {
    background-color:#131313;
    animation: fallDownAnimation ease 1s;
    display: grid;
    grid-template-columns: repeat(4,25%);
    height: 100px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow:inset 1px -2px 11px 0px black;
}
.topbar-option {
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    color: whitesmoke;
}
#title {
    color: mediumslateblue;
}

/* Default Themes */
#topbar.default {background-color: #000000;}
.topbar-option.default {color: whitesmoke;}
#title.default {color: mediumslateblue;}

/* Dark Themes */
#topbar.dark {background-color: #000000;}
.topbar-option.dark {color: whitesmoke;}
#title.dark {color: mediumslateblue;}

/* Pastel Themes */
#topbar.pastel {background-color: #57f5f5;}
.topbar-option.pastel {color: whitesmoke;}
#title.pastel {color: #ff80e2;}

/* Gay Themes */
#topbar.gay {background-color: #000000;}
.topbar-option.gay {color: whitesmoke;}
#title.gay {color: mediumslateblue;}

/* Kevin Themes */
#topbar.kevin {background-color: #000000;}
.topbar-option.kevin {color: whitesmoke;}
#title.kevin {color: mediumslateblue;}

/* Drac Themes */
#topbar.drac {background-color: #000000;}
.topbar-option.drac {color: whitesmoke;}
#title.drac {color: red;}