body {
  /*animation: Spin infinite 1s linear;*/
  background-color: #282B31FF; /* Can't set have this as a variable because it cant be set before active */
  overflow: hidden;
}
#welcome-screen {
  background: var(--overall-bg); /* Will always be default */
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  animation: fadeInAnimation ease 2s;
  font-family: var(--overall-font-family); /* Will always be default */
}
#welcome-message {
  font-size: 7vw;
  margin-top: 20%;
  text-shadow: 0 0 5px white;
  color: whitesmoke; /* Can't set have this as a variable because it cant be set before active*/
}

.game-options {
  display:flex;
  height: 100vh;
}
#music-area {
  flex: 80%;
  background: var(--game-bg);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  text-align: center;
  display:flex;
  box-shadow: var(--game-border);
  /*animation: slideFromLeft ease 3s;*/
}
#directions-list {
  margin-top: 15%;
  font-size: calc(2.1vw + var(--directions-fontsize-adjustment));
  padding-left: 10%;
  padding-right: 3%;
  text-align: left;
  font-family: var(--directions-font-family);
}
.directions-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.player-container {
  font-family: var(--overall-font-family);
  font-size: calc(20px + var(--directions-fontsize-adjustment));
  color: var(--player-color);
  height: 50%;
  margin-left: 7.5%;
  width: 85%;
  /*padding-left: 50%;*/
  background: var(--player-bg);
  margin-bottom: 10%;
  box-shadow: black;
  border-radius: 10px;
}
#now-playing__cover {
  padding-top: 5%;
  width: 30%;
}
.player-button {
  width: 3%;
  margin-left: .5%;
  margin-right: .5%;
  border-radius: 7px;
  cursor: pointer;
}
#start-button{
  font-size: 25px;
  font-family: var(--overall-font-family);
  cursor: pointer;
  background: var(--start-button-bg);
  color: var(--start-button-color);
}
#links{
  position:absolute;
  margin-bottom: 25%;
  list-style: none;
}
#links-output{color:var(--link-color); mix-blend-mode: var(--link-blend); font-family: var(--overall-font-family)}


.default {
  --overall-font-family: Arial;
  --directions-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --directions-fontsize-adjustment: 0%;
  --overall-bg: #282b31;
  --overall-font-color: whitesmoke;
  --game-bg: #ccced0;
  --player-color: whitesmoke;
  --player-bg: black;
  --start-button-color: #fff;
  --start-button-bg: #000000;
  --start-button-glow: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  --link-color: black;
  --link-blend: normal;
}
.dark {
  --overall-font-family: Arial;
  --directions-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --directions-fontsize-adjustment: 0%;
  --overall-bg: #282b31;
  --overall-font-color: #dedede;
  --game-bg: #74879b;
  --player-color: whitesmoke;
  --player-bg: black;
  --start-button-color: #fff;
  --start-button-bg: #000000;
  --start-button-glow: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  --link-color: whitesmoke;
  --link-blend: normal;
}
.neon {
  --overall-font-family: "Arial";
  --directions-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --directions-fontsize-adjustment: 0%;
  --overall-bg: #282b31;
  --overall-font-color: #dedede;
  --game-bg: #181818;
  --game-border: 0 0 20px #ff00fc;
  --player-color: whitesmoke;
  --player-bg: black;
  --start-button-color: #fff;
  --start-button-bg: #000000;
  --start-button-glow: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  --link-color: whitesmoke;
  --link-blend: normal;
}
.pastel {
  --overall-font-family: Arial;
  --directions-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --directions-fontsize-adjustment: 0%;
  --overall-bg: #282b31;
  --overall-font-color: #3d476c;
  --game-bg: #e2c1ff;
  --player-color: black;
  --player-bg: whitesmoke;
  --start-button-color: #fff;
  --start-button-bg: #000000;
  --start-button-glow: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  --link-color: #c1fdff;
  --link-blend: normal;
}
.gay {
  --overall-font-family: Arial;
  --directions-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --directions-fontsize-adjustment: 0%;
  --overall-bg: #282b31;
  --overall-font-color: #3d476c;
  --game-bg: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);;
  --player-color: white;
  --player-bg: black;
  --start-button-color: #fff;
  --start-button-bg: #000000;
  --start-button-glow: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  --link-color: white;
  --link-blend: difference;
}
#music-area.gay {
  background-size: 1400% 300%;
  -webkit-animation: rainbow 20s ease infinite;
  -o-animation: rainbow 20s linear infinite;
  animation: rainbow 20s ease infinite;
} /* Necessary for animation stuff */
.kevin {
  --overall-font-family: Genshin Drip;
  --directions-font-family: Genshin;
  --overall-fontsize-adjustment: -40%;
  --directions-fontsize-adjustment: -20%;
  --overall-bg: #282b31;
  --overall-font-color: #3d476c;
  --game-bg: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);;
  --player-color: whitesmoke;
  --player-bg: black;
  --start-button-color: #fff;
  --start-button-bg: #000000;
  --start-button-glow: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  --link-color: whitesmoke;
  --link-blend: difference;
}
.drac {
  --overall-font-family: Arial;
  --directions-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --directions-fontsize-adjustment: 0%;
  --overall-bg: #282b31;
  --overall-font-color: #3d476c;
  --game-bg: linear-gradient(180deg, #ff2400,  dimgray);
  --player-color: #ff3916;
  --player-bg: black;
  --start-button-color: #7e7e7e;
  --start-button-bg: #000000;
  --start-button-glow: linear-gradient(45deg, #ff0000, #ff7300, #545454, #000000);
  --link-color: whitesmoke;
  --link-blend: normal;
}
.barbie {
  --overall-font-family: Barbie;
  --directions-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 30%;
  --directions-fontsize-adjustment: 20%;
  --overall-bg: #282b31;
  --overall-font-color: #3d476c;
  --game-bg: linear-gradient(180deg, #2eedff, #ffffff);
  --player-color: white;
  --player-bg: #ff3ec7;
  --start-button-color: #fff;
  --start-button-bg: #ff3ec7;
  --start-button-glow: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  --link-color: #ffffff;
  --link-blend: normal;
}
.marley {
  --overall-font-family: Arial;
  --directions-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --directions-fontsize-adjustment: 0%;
  --overall-bg: #282b31;
  --overall-font-color: #3d476c;
  --game-bg: #74879b;
  --player-color: blueviolet;
  --player-bg: black;
  --start-button-color: #fff;
  --start-button-bg: #000000;
  --start-button-glow: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  --link-color: whitesmoke;
  --link-blend: normal;
}

@keyframes Spin {
  from {transform: rotate(-1deg);}
  to {transform: rotate(1deg);}
}
@keyframes fadeInAnimation{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}
@keyframes fallDownAnimation{
  from{
    transform: translateY(-100%);
  }
  to{
    transform:translateY(0%)
  }
}
@keyframes slideFromLeft {
  from{
    transform: translateX(-100%)
  }
  to{
    transform:translateX(0%)
  }

}

.glow-on-hover {
   width: 220px;
   height: 50px;
   border: none;
   outline: none;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 10px;
 }
.glow-on-hover:before {
  content: '';
  background: var(--start-button-glow);
  position: absolute;
  top: -3px;
  left:-3px;
  background-size: 400%;
  z-index: -1;
  filter: blur(50%);
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  animation: glowing 15s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {color: var(--start-button-bg)}
.glow-on-hover:active:after {background: transparent;}
.glow-on-hover:hover:before {opacity: 1;}
.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--start-button-bg);
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 200% 0; }
  100% { background-position: 400% 0; }
}

/* Should I use aspect ratio or width to check phone */
@media (max-aspect-ratio: 1/1) {
  #directions-list {
    font-size: calc(2.7vh + var(--directions-fontsize-adjustment));
    margin-left: 10%;
  }
  #music-area.gay {
    --game-bg: linear-gradient(124deg, #6600ff, #ff0059, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #6600FF, #6600ff, #dd00f3);;
    background-size: 1500% 300%;
    -webkit-animation: rainbow 23s ease infinite;
    -o-animation: rainbow 23s linear infinite;
    animation: rainbow 23s ease infinite;
  }
  #start-button {
    font-size: 60px;
  }
  .glow-on-hover {
    width: 300px;
    height: 150px;
    border-radius: 30px;
  }
  .glow-on-hover:before {
    border-radius: 30px;

  }
  .glow-on-hover:after {
    border-radius: 30px;
  }
}