#topbar2 {
  background-color: var(--topbar-bg);
  /*animation: fallDownAnimation ease 1.5s;*/
  display: grid;
  width: 100vw;
  grid-template-columns: 100%;
  height: var(--topbar-height);
  text-align: left;
  box-shadow:inset 1px -2px 11px 0 black;
  position: fixed;
  --topbar-height: 100px;
  --title-size2: 50px;
}
#title2 {
  align-self: center;
  margin-left: 15px;
  color: var(--title-color);
  text-shadow: var(--title-glow);
  font-size: var(--title-size2);
  font-family: var(--overall-font-family);
  font-weight: bold;
}

#main-area {
  display:flex;
  height: 100vh;
}

/* Style for the Sidebar */
#sidebar2 {
  --topbar-height: 100px;
  z-index: 2;
  flex:25%;
  background: var(--sidebar-bg);
  animation: slideFromLeft ease 1.5s;
  text-align: center;
  box-shadow: var(--sidebar-shadow);
  color: var(--sidebar-color);
  text-shadow: var(--sidebar-glow);
  font-family: var(--overall-font-family);
  height: calc(100vh - var(--topbar-height));
  margin-top: var(--topbar-height);
  position: relative;
  transition: left .5s ease;
}
#theme-header2 {
  font-size: calc(28px + var(--overall-fontsize-adjustment));
}
.sidebar2-nav {
  font-size: calc(30px + var(--overall-fontsize-adjustment));
  cursor: pointer;
  /*text-align: left;*/
  /*margin-left: 15px;*/
  text-decoration: underline;
}
.sidebar2-heading {
  font-size: 2.6vw;
  font-weight: bold;
  margin-top: 5%;
  color: var(--sidebar-color); /* Idk if this does anything */
}
#theme-select2 {
  background: var(--theme-select-bg);
  color: var(--theme-select-color);
  font-family: var(--overall-font-family);
  width: auto;
}
#spotify-logo {
  width: 100px;
  cursor: auto;
  margin-left: 40px;
  position: fixed;
}
#made-using {
  bottom: 10px;
  margin-left: 20px;
  position: absolute;
  text-align: center;
  font-size: calc(24px + var(--overall-fontsize-adjustment));
}

#activate-sidebar2-button {
  font-family: var(--overall-font-family);
  opacity: 40%;
  visibility: visible;
  font-size: calc(30px + var(--activate-sidebar-fontsize-adjustment));
  z-index: 1;
  transform: rotate(270deg);
  background: var(--activate-sidebar-bg);
  color: var(--activate-sidebar-color);
  border: white;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  top: 15%;
  position: absolute;
  cursor: pointer;
  writing-mode: vertical-lr;
  padding: 12px 10px 8px;
  right: -88.5px;
}
#activate-sidebar2-button:hover {
  opacity: 90%;
}
#activate-sidebar2-button.gay {
  background-size: 1000% 300%;
  -webkit-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s linear infinite;
  animation: rainbow 10s ease infinite;
} /* Necessary for animation stuff */

#info-area {
  margin-top: 5%;
  padding: 1.5% 3%;
  font-family: var(--info-font-family);
  flex: 80%;
  background: var(--info-bg);
  box-shadow: var(--game-border);
  overflow-y: scroll;
  font-size: calc(24px + var(--info-fontsize-adjustment));
  color: var(--info-font-color);
  text-align: left;
  /*animation: slideFromLeft ease 3s;*/
}
.info-list:visited {
  color: var(--info-font-color)
}
.info-header {
  font-size: 32px;
}
.info-body {
  margin-top: -26px;
}
.name {
  font-weight: bolder;
  font-size: calc(27px + var(--info-fontsize-adjustment));
}
#goal {
  font-size: 26px;
  font-weight: bold;
}

#back-button {
  margin-top: 10px;
  font-size: 30px;
  font-family: var(--overall-font-family);
  background: var(--back-button-bg);
  color: var(--back-button-color);
  width: 210px;
  height: 50px;
  cursor: pointer;
}
.glow-on-hover2 {
  border: none;
  outline: none;
  position: relative;
  z-index: 0;
  border-radius: 15px;
  opacity: 1;
}
.glow-on-hover2:before {
  content: '';
  background: var(--back-button-glow);
  position: absolute;
  top: -4px;
  left:-4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(50%);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 15s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 15px;
}
.glow-on-hover2:active {color: var(--back-button-bg)}
.glow-on-hover2:active:after {background: transparent;}
.glow-on-hover2:hover:before {opacity: 1;}
.glow-on-hover2:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--back-button-bg);
  left: 0;
  top: 0;
  border-radius: 15px;
}

/* Themes */
.default {
  --overall-font-family: Arial;
  --info-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --info-fontsize-adjustment: 0%;
  --info-font-color: black;
  --info-bg: #ccced0;
  --sidebar-bg: #282b31;
  --sidebar-glow: none;
  --sidebar-color: whitesmoke;
  --sidebar-textbox-color: #919191;
  --sidebar-textbox-bg: lightcyan;
  --sidebar-shadow: 0 0 10px #000000;
  --activate-sidebar-fontsize-adjustment: 0%;
  --activate-sidebar-right-adjustment: 0px;
  --activate-sidebar-color: var(--sidebar-color);
  --activate-sidebar-bg: var(--sidebar-bg);
  --back-button-color: #fff;
  --back-button-bg: #000000;
  --back-button-glow: linear-gradient(45deg, #ff0000, #e00101, #ff0000);
}
.dark {
  --overall-font-family: Arial;
  --info-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --info-fontsize-adjustment: 0%;
  --info-font-color: #dedede;
  --info-bg: black;
  --sidebar-bg: #282b31;
  --sidebar-color: #dedede;
  --sidebar-glow: none;
  --sidebar-textbox-color: #aaaac5;
  --sidebar-textbox-bg: #464f5b;
  --sidebar-shadow: 0 0 10px #000000;
  --activate-sidebar-fontsize-adjustment: 0%;
  --activate-sidebar-right-adjustment: 0px;
  --activate-sidebar-color: var(--sidebar-color);
  --activate-sidebar-bg: var(--sidebar-bg);
  --back-button-color: #fff;
  --back-button-bg: #000000;
  --back-button-glow: linear-gradient(45deg, #ff0000, #cc0000, #cc0000, #ff0000, #ff0000, #cc0000, #cc0000, #ff0000, #ff0000, #cc0000, #cc0000, #ff0000);
}
.neon {
  --overall-font-family: "Arial";
  --info-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --info-fontsize-adjustment: 0%;
  --info-font-color: #e3ff80;
  --info-bg: #181818;
  --sidebar-bg: #000000;
  --sidebar-color: var(--sidebar-bg);
  --sidebar-glow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 7px #ffffff, 0 0 15px #00ff77;
  --sidebar-textbox-color: #aaaac5;
  --sidebar-textbox-bg: #000000;
  --sidebar-shadow: 0 40px 20px red;
  --sidebar-textbox-glow: 0 0 7px #fff, 0 0 10px #ffffff, 0 0 15px #ffed66;
  --activate-sidebar-fontsize-adjustment: 0%;
  --activate-sidebar-right-adjustment: 0px;
  --activate-sidebar-color: white;
  --activate-sidebar-bg: var(--sidebar-bg);
  --back-button-color: #fff;
  --back-button-bg: #000000;
  --back-button-glow: linear-gradient(45deg, #ff0000, #000000, #ff0000, #ff0000, #000000, #ff0000);
}
.pastel {
  --overall-font-family: Arial;
  --info-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --info-fontsize-adjustment: 0%;
  --info-font-color: #000000;
  --info-bg: #e2c1ff;
  --sidebar-bg: #7effab;
  --sidebar-color: #7e92ff;
  --sidebar-textbox-color: #7e92ff;
  --sidebar-textbox-bg: lightcyan;
  --sidebar-shadow: 0 0 10px #000000;
  --activate-sidebar-fontsize-adjustment: 0%;
  --activate-sidebar-right-adjustment: 0px;
  --activate-sidebar-color: var(--sidebar-color);
  --activate-sidebar-bg: var(--sidebar-bg);
  --back-button-color: #fff;
  --back-button-bg: #000000;
  --back-button-glow: linear-gradient(45deg, #ff4343, #ff9ee1, #ff9ee1, #ff0000, #ff0000, #ff9ee1, #ff9ee1, #ff0000, #ff0000, #ff9ee1, #ff9ee1, #ff4343);
}
.gay {
  --overall-font-family: Arial;
  --info-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --info-fontsize-adjustment: 0%;
  --info-font-color: #000000;
  --info-bg: linear-gradient(124deg, #ff798d, #ff9473, #e8b71d, #e3e81d, #7bff92, #80e1ff, #85b4ff, #b895ff, #ee7fff);
  --sidebar-bg: linear-gradient(180deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  --sidebar-color: white;
  --sidebar-blend: difference;
  --sidebar-textbox-color: #df5cff;
  --sidebar-textbox-bg: lightcyan;
  --sidebar-shadow: 0 0 10px #000000;
  --activate-sidebar-fontsize-adjustment: 0%;
  --activate-sidebar-right-adjustment: 0px;
  --activate-sidebar-color: black;
  --activate-sidebar-bg: whitesmoke;
  --back-button-color: #ffffff;
  --back-button-bg: #000000;
  --back-button-glow: linear-gradient(45deg, #ff0000, #ff00b7, #ff0000, #ff3c00, #ff0000);
}
#sidebar2.gay {
  background-size: 100% 300%;
  -webkit-animation: rainbow 30s ease infinite;
  -o-animation: rainbow 30s linear infinite;
  animation: rainbow 30s ease infinite, slideFromLeft ease 1.5s;
} /* Necessary for animation stuff */
#info-area.gay {
  background-size: 1400% 300%;
  -webkit-animation: rainbow 100s ease infinite;
  -o-animation: rainbow 100s linear infinite;
  animation: rainbow 100s ease infinite;
} /* Necessary for animation stuff */
.kevin {
  --overall-font-family: Genshin Drip;
  --info-font-family: Genshin;
  --overall-fontsize-adjustment: -40%;
  --info-fontsize-adjustment: -20%;
  --info-font-color: #000000;
  --info-bg: white;
  --sidebar-bg: linear-gradient(180deg, #D60270, #0038A8);
  --sidebar-color: white;
  --sidebar-textbox-color: #a73df1;
  --sidebar-textbox-bg: #bed5ff;
  --sidebar-shadow: 0 0 10px #000000;
  --activate-sidebar-fontsize-adjustment: -40%;
  --activate-sidebar-right-adjustment: -3%;
  --activate-sidebar-color: white;
  --activate-sidebar-bg: black;
  --back-button-color: #fff;
  --back-button-bg: #000000;
  --back-button-glow: linear-gradient(45deg, #ff0000, #ff00ac, #ff9ee1, #ff0000, #ff0000, #ff00ac, #ff9ee1, #ff0000, #ff0000, #ff00ac, #ff9ee1, #ff0000);
}
.drac {
  --overall-font-family: Arial;
  --info-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --info-fontsize-adjustment: 0%;
  --info-font-color: #000000;
  --info-bg: linear-gradient(180deg, #ff2400,  dimgray);
  --sidebar-bg: #282b31;
  --sidebar-color: red;
  --sidebar-textbox-color: black;
  --sidebar-textbox-bg: #ffa0a0;
  --sidebar-shadow: 0 0 10px #000000;
  --activate-sidebar-fontsize-adjustment: 0%;
  --activate-sidebar-right-adjustment: 0px;
  --activate-sidebar-color: var(--sidebar-color);
  --activate-sidebar-bg: var(--sidebar-bg);
  --back-button-color: #7e7e7e;
  --back-button-bg: #000000;
  --back-button-glow: linear-gradient(45deg, #ff0000, #de4100, #ff0000);
}
.barbie {
  --overall-font-family: Barbie;
  --info-font-family: Arial;
  --overall-fontsize-adjustment: 30%;
  --info-fontsize-adjustment: 0%;
  --info-font-color: #000000;
  --info-bg: linear-gradient(180deg, #2eedff, #ffffff);
  --sidebar-bg: #ff3ec7;
  --sidebar-color: #ffc9ee;
  --sidebar-textbox-color: #fff;
  --sidebar-textbox-bg: #25e7ff;
  --sidebar-shadow: 0 0 10px #000000;
  --activate-sidebar-fontsize-adjustment: 35%;
  --activate-sidebar-right-adjustment: 1.9%;
  --activate-sidebar-color: var(--sidebar-color);
  --activate-sidebar-bg: var(--sidebar-bg);
  --back-button-color: #ffffff;
  --back-button-bg: #000000;
  --back-button-glow: linear-gradient(45deg, #ff0000, #ff9ee1, #ff9ee1, #ff0000, #ff0000, #ff9ee1, #ff9ee1, #ff0000, #ff0000, #ff9ee1, #ff9ee1, #ff0000);
}
.marley {
  --overall-font-family: Arial;
  --info-font-family: var(--overall-font-family);
  --overall-fontsize-adjustment: 0%;
  --info-fontsize-adjustment: 0%;
  --info-font-color: aliceblue;
  --info-bg: linear-gradient(135deg, #401c67, #000000, #56148d);
  --sidebar-bg: #282b31;
  --sidebar-color: whitesmoke;
  --sidebar-textbox-color: #919191;
  --sidebar-textbox-bg: linear-gradient(135deg, #0004b9, #020001);
  --sidebar-shadow: 0 0 10px #000000;
  --activate-sidebar-fontsize-adjustment: 0%;
  --activate-sidebar-right-adjustment: 0px;
  --activate-sidebar-color: var(--sidebar-color);
  --activate-sidebar-bg: var(--sidebar-bg);
  --back-button-color: #663bff;
  --back-button-bg: #000000;
  --back-button-glow: linear-gradient(45deg, #ff0000, #002bff, #ff0000, #ff0000, #7a00ff, #ff0000, #ff0000, #ff00c8, #ff0000);
}
@media (max-aspect-ratio: 1/1) {
  #sidebar2 {
    --topbar-height: 12vh;
    flex: none;
    width: 80vw;
    left: -80vw;
    position: fixed;
  }
  #activate-sidebar2-button {
    font-size: calc(65px + var(--activate-sidebar-fontsize-adjustment));
    opacity: 30%;
    right: calc(-170px + var(--activate-sidebar-right-adjustment));
  }
  #back-button {
    font-size: 40px;
    width: auto;
    height: auto;
    padding: 15px 25px;
  }
  #theme-header2 {
    font-size: calc(6.5vw + var(--overall-fontsize-adjustment));
    margin-top: 5%;
    margin-bottom: 3%;
  }
  .sidebar2-nav {
    font-size: calc(7.5vw + var(--overall-fontsize-adjustment));
  }
  #info-area {
    /*padding-top: 20%;*/
    margin-top: 15%;
  }
  #topbar2 {
    height: 12vh;
  }
  #title2 {
    font-size: calc(6.5vw + var(--overall-fontsize-adjustment));
  }
}
