/* Style for the settings sidebar */
#settings-sidebar {
    --topbar-height: 100px;
    font-size: 170%;
    transition: right 0.5s ease; /* Add smooth sliding transition */
    box-shadow: 0 0 10px var(--settings-shadow);
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: var(--settings-text-color);
    text-shadow: var(--settings-glow);
    background: var(--settings-bg);
    font-family: var(--overall-font-family);
    height: calc(100vh - var(--topbar-height));
    margin-top: var(--topbar-height);
    width:20%;
    /*flex: 50%;*/
    overflow: hidden;
    right: -20%;
    position:fixed;
}
#theme-select {
    background: var(--theme-select-bg);
    color: var(--theme-select-color);
    font-family: var(--overall-font-family);
}
.switch {
    position: relative;
    display: inline-block;
    --toggle-size: 1;
    width: calc(60px * var(--toggle-size));
    height: calc(34px * var(--toggle-size));
    margin-top: 5%;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--embed-toggle-inactive-bg);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: calc(26px * var(--toggle-size));
    width: calc(26px * var(--toggle-size));
    left: calc(4px * var(--toggle-size));
    bottom: calc(4px * var(--toggle-size));
    background: var(--embed-toggle-color);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {background: var(--embed-toggle-active-bg);}
input:focus + .slider {box-shadow: 0 0 1px var(--embed-toggle-active-bg);}
input:checked + .slider:before {
    -webkit-transform: translateX(calc(26px * var(--toggle-size)));
    -ms-transform: translateX(calc(26px * var(--toggle-size)));
    transform: translateX(calc(26px * var(--toggle-size)));
}
.slider.round {border-radius: calc(34px * var(--toggle-size));}
.slider.round:before {border-radius: 50%;}
#name-add-header {
    margin-top: 5%;
}
#new-name-box {
    font-family: Comic Sans MS;
    font-size: 70%;
    width: 80%;
    border-radius: 5px;
    padding: 2%;
    border: 1px solid black;
    color: var(--sidebar-textbox-color);
    background: var(--settings-textbox-bg);
    box-shadow: var(--settings-textbox-glow);
}
#new-profile-box {
    font-family: Comic Sans MS;
    font-size: 70%;
    width: 80%;
    border-radius: 5px;
    padding: 2%;
    border: 1px solid black;
    color: var(--settings-textbox-color);
    background: var(--settings-textbox-bg);
    box-shadow: var(--settings-textbox-glow);
}
@media (max-aspect-ratio: 1/1) {
    #settings-sidebar {
        --topbar-height: 12vh;
        font-size: 7vw;
        width: 80%;
        right: -80%;
    }
    #theme-select {
        margin-bottom: 0;
    }
    .switch {
        margin-top: 1%;
        --toggle-size: 2;
    }
}

/* Themes */
.default {
    --settings-bg: #282b31;
    --settings-text-color: whitesmoke;
    --settings-shadow: #000000;
    --theme-select-bg: lightcyan;
    --theme-select-color: black;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #ccc;
    --embed-toggle-active-bg: #2196F3;
    --settings-textbox-bg: lightcyan;
    --settings-textbox-color: #aaaac5;
}
.dark {
    --settings-bg: #282b31;
    --settings-text-color: #dedede;
    --settings-shadow: #000000;
    --theme-select-bg: #758bb4;
    --theme-select-color: black;
    --embed-toggle-color: #eaeaea;
    --embed-toggle-inactive-bg: #8d8d8d;
    --embed-toggle-active-bg: blue;
    --settings-textbox-bg: #464f5b;
    --settings-textbox-color: #aaaac5;
}
.neon {
    --settings-bg: #000000;
    --settings-text-color: var(--settings-bg);
    --settings-glow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 7px #ffffff, 0 0 15px #00ff77;
    --settings-shadow: #00ffd0;
    --theme-select-bg: #000000;
    --theme-select-color: #00ffea;
    --embed-toggle-color: #ffffff;
    --embed-toggle-inactive-bg: #7c7c7c;
    --embed-toggle-active-bg: #00f7ff;
    --settings-textbox-bg: #000000;
    --settings-textbox-color: #aaaac5;
    --settings-textbox-glow: 0 0 7px #fff, 0 0 10px #ffffff, 0 0 15px #ffed66;
}
.pastel {
    --settings-bg: #7effab;
    --settings-text-color: #7e92ff;
    --settings-shadow: #000000;
    --theme-select-bg: #85ffff;
    --theme-select-color: black;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #ccc;
    --embed-toggle-active-bg: #ffee9b;
    --settings-textbox-bg: lightcyan;
    --settings-textbox-color: #7e92ff;
}
.gay {
    --settings-bg: linear-gradient(180deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    --settings-text-color: black;
    --settings-shadow: #000000;
    --theme-select-bg: linear-gradient(90deg, #ff2400, #e8b71d, #1de840, #1d93e8,  #dd00f3);
    --theme-select-color: black;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #ccc;
    --embed-toggle-active-bg: linear-gradient(90deg, #ff2400, #e8b71d, #1de840, #1d93e8,  #dd00f3);
    --settings-textbox-bg: lightcyan;
    --settings-textbox-color: #7e92ff;
}
#settings-sidebar.gay {
    background-size: 100% 300%;
    overflow: hidden;
    -webkit-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s linear infinite;
    animation: rainbow 10s ease infinite;
} /* Necessary for animation stuff */
.kevin {
    --settings-bg: linear-gradient(180deg, #D60270, #0038A8);
    --settings-text-color: white;
    --settings-shadow: #000000;
    --theme-select-bg: #0041c5;
    --theme-select-color: white;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #ccc;
    --embed-toggle-active-bg: #0038A8;
    --settings-textbox-bg: #bed5ff;
    --settings-textbox-color: #a73df1;
}
.drac {
    --settings-bg: #262c2d;
    --settings-text-color: red;
    --settings-shadow: #000000;
    --theme-select-bg: linear-gradient(45deg, red, black);
    --theme-select-color: black;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #5b5b5b;
    --embed-toggle-active-bg: red;
    --settings-textbox-bg: red;
    --settings-textbox-color: black;
}
.barbie {
    --settings-bg: #ff3ec7;
    --settings-text-color: white;
    --settings-shadow: #000000;
    --theme-select-bg: #ffc9ee;
    --theme-select-color: black;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #ccc;
    --embed-toggle-active-bg: #25e7ff;
    --settings-textbox-bg: #25e7ff;
    --settings-textbox-color: #fff;
}
.marley {
    --settings-bg: #262c2d;
    --settings-text-color: whitesmoke;
    --settings-shadow: #000000;
    --theme-select-bg: mediumpurple;
    --theme-select-color: blue;
    --embed-toggle-color: white;
    --embed-toggle-inactive-bg: #ccc;
    --embed-toggle-active-bg: midnightblue;
    --settings-textbox-bg: lightcyan;
    --settings-textbox-color: #7e92ff;
}


@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}