/* Style for the Sidebar */
#sidebar {
    --topbar-height: 100px;
    z-index: 2;
    flex:33%;
    background: var(--sidebar-bg);
    animation: slideFromLeft ease 1.5s;
    text-align: center;
    box-shadow: var(--sidebar-shadow);
    color: var(--sidebar-color);
    text-shadow: var(--sidebar-glow);
    font-family: var(--overall-font-family);
    height: calc(100vh - var(--topbar-height));
    margin-top: var(--topbar-height);
    position: relative;
    transition: left .5s ease;
}
.sidebar-headings {
    font-size: 2.6vw;
    margin-top: 5%;
    color: var(--sidebar-color); /* Idk if this does anything */
}
.num-song-box {
    color: var(--sidebar-textbox-color);
    background: var(--sidebar-textbox-bg);
    box-shadow: var(--sidebar-textbox-glow);
    font-family: 'Comic Sans MS', sans-serif;
    width: 29%;
    font-size: 115%;
    border-radius: 5px;
    padding: 1%;
    border: 1px solid black;
}
.name-playlist-box {
    color: var(--sidebar-textbox-color);
    background: var(--sidebar-textbox-bg);
    box-shadow: var(--sidebar-textbox-glow);
    font-family: "Comic Sans MS", sans-serif;
    width: 75%;
    font-size: 115%;
    border-radius: 5px;
    padding: 2%;
    border: 1px solid black;
}
.add-button {
    color: var(--add-button-color);
    background: var(--add-button-bg);
    border-radius: 15%;
    border: var(--button-border);
    cursor: pointer;
    margin-right: 5%;
    font-size: 20px;
}
.clear-button {
    color: var(--clear-button-color);
    background: var(--clear-button-bg);
    border-radius: 15%;
    border: var(--button-border);
    cursor: pointer;
    font-size: 20px;
}
.listed-items {
    font-size: 20px;
}
.tab {
    font-size: calc(1.4vw + var(--overall-fontsize-adjustment));
    text-shadow: var(--inactive-tab-glow);
    color: var(--inactive-tab-color);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    float:left;
    width: 50%;
    height:6%;
    animation: fadeInAnimation ease 1s;
    background: #15161a;
    box-shadow: var(--inactive-tab-border);
}
.tab.active {
    background: var(--active-tab-bg);
    color: var(--sidebar-color);
    text-shadow: var(--active-tab-glow);
    box-shadow: var(--active-tab-border);
    z-index: 3;
}
.tab.active:hover {background: var(--active-tab-bg);}
.tab:hover {background: var(--tab-highlight-color);}
#activate-sidebar-button {
    font-family: var(--overall-font-family);
    opacity: 40%;
    visibility: visible;
    font-size: calc(30px + var(--activate-sidebar-fontsize-adjustment));
    z-index: 1;
    transform: rotate(270deg);
    background: var(--activate-sidebar-bg);
    color: var(--activate-sidebar-color);
    border: white;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    top: 15%;
    position: absolute;
    cursor: pointer;
    writing-mode: vertical-lr;
    padding: 12px 10px 8px;
    right: -88.5px;
}
#activate-sidebar-button:hover {
    opacity: 90%;
}

#activate-sidebar-button.gay {
    background-size: 1000% 300%;
    -webkit-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s linear infinite;
    animation: rainbow 10s ease infinite;
} /* Necessary for animation stuff */

/* Themes */
.default {
    --sidebar-bg: #282b31;
    --sidebar-glow: none;
    --sidebar-color: whitesmoke;
    --sidebar-textbox-color: #919191;
    --sidebar-textbox-bg: lightcyan;
    --sidebar-shadow: 0 0 10px #000000;
    --add-button-bg: #00ff00;
    --add-button-color: black;
    --clear-button-bg: red;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: var(--sidebar-bg);
    --inactive-tab-border: inset  1px -1px 20px 1px var(--inactive-tab-bg);
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #4E545FFF;
    --activate-sidebar-fontsize-adjustment: 0%;
    --activate-sidebar-right-adjustment: 0px;
    --activate-sidebar-color: var(--sidebar-color);
    --activate-sidebar-bg: var(--sidebar-bg);
}
.dark {
    --sidebar-bg: #282b31;
    --sidebar-color: #dedede;
    --sidebar-glow: none;
    --sidebar-textbox-color: #aaaac5;
    --sidebar-textbox-bg: #464f5b;
    --sidebar-shadow: 0 0 10px #000000;
    --add-button-bg: #179b2c;
    --add-button-color: black;
    --clear-button-bg: #e10202;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: var(--sidebar-bg);
    --inactive-tab-bg: black;
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #4E545FFF;
    --activate-sidebar-fontsize-adjustment: 0%;
    --activate-sidebar-right-adjustment: 0px;
    --activate-sidebar-color: var(--sidebar-color);
    --activate-sidebar-bg: var(--sidebar-bg);
}
.neon {
    --sidebar-bg: #000000;
    --sidebar-color: var(--sidebar-bg);
    --sidebar-glow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 7px #ffffff, 0 0 15px #00ff77;
    --sidebar-textbox-color: #aaaac5;
    --sidebar-textbox-bg: #000000;
    --sidebar-shadow: 0 40px 20px red;
    --sidebar-textbox-glow: 0 0 7px #fff, 0 0 10px #ffffff, 0 0 15px #ffed66;
    --add-button-bg: #179b2c;
    --add-button-color: black;
    --clear-button-bg: #e10202;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: var(--sidebar-bg);
    --active-tab-glow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 7px #00fff7, 0 0 15px #00fff7;
    --active-tab-border: 0 -5px 10px red;
    --inactive-tab-border: -5px 5px 10px red;
    --inactive-tab-color: var(--inactive-tab-bg);
    --inactive-tab-glow:  0 0 1px #adadad, 0 0 1px #adadad, 0 0 1px #adadad, 0 0 1px #adadad, 0 0 1px #adadad, 0 0 1px #adadad, 0 0 7px #adadad;
    --tab-highlight-color: #4E545FFF;
    --activate-sidebar-fontsize-adjustment: 0%;
    --activate-sidebar-right-adjustment: 0px;
    --activate-sidebar-color: white;
    --activate-sidebar-bg: var(--sidebar-bg);
}
.pastel {
    --sidebar-bg: #7effab;
    --sidebar-color: #7e92ff;
    --sidebar-textbox-color: #7e92ff;
    --sidebar-textbox-bg: lightcyan;
    --sidebar-shadow: 0 0 10px #000000;
    --add-button-bg: #02ff25;
    --add-button-color: black;
    --clear-button-bg: #ff4141;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: var(--sidebar-bg);
    --inactive-tab-bg: black;
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #4E545FFF;
    --activate-sidebar-fontsize-adjustment: 0%;
    --activate-sidebar-right-adjustment: 0px;
    --activate-sidebar-color: var(--sidebar-color);
    --activate-sidebar-bg: var(--sidebar-bg);
}
.gay {
    --sidebar-bg: linear-gradient(180deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    --sidebar-color: white;
    --sidebar-textbox-color: #df5cff;
    --sidebar-textbox-bg: lightcyan;
    --sidebar-shadow: 0 0 10px #000000;
    --add-button-bg: #00ff00;
    --add-button-color: black;
    --clear-button-bg: red;
    --clear-button-color: black;
    --button-border: black;
    /*--active-tab-bg: var(--sidebar-bg);*/
    --inactive-tab-bg: black;
    --inactive-tab-color: white;
    --tab-highlight-color: linear-gradient(180deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);;;
    --activate-sidebar-fontsize-adjustment: 0%;
    --activate-sidebar-right-adjustment: 0px;
    --activate-sidebar-color: black;
    --activate-sidebar-bg: whitesmoke;
}
#sidebar.gay {
    background-size: 100% 300%;
    -webkit-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s linear infinite;
    animation: rainbow 10s ease infinite, slideFromLeft ease 1.5s;
} /* Necessary for animation stuff */
.kevin {
    --sidebar-bg: linear-gradient(180deg, #D60270, #0038A8);
    --sidebar-color: white;
    --sidebar-textbox-color: #a73df1;
    --sidebar-textbox-bg: #bed5ff;
    --sidebar-shadow: 0 0 10px #000000;
    --add-button-bg: #179b2c;
    --add-button-color: black;
    --clear-button-bg: red;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: linear-gradient(180deg,#D60270, #c90073);
    --inactive-tab-bg: black;
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #4E545FFF;
    --activate-sidebar-fontsize-adjustment: -40%;
    --activate-sidebar-right-adjustment: -3%;
    --activate-sidebar-color: white;
    --activate-sidebar-bg: black;
}
.drac {
    --sidebar-bg: #282b31;
    --sidebar-color: red;
    --sidebar-textbox-color: black;
    --sidebar-textbox-bg: #ffa0a0;
    --sidebar-shadow: 0 0 10px #000000;
    --add-button-bg: #00ff00;
    --add-button-color: black;
    --clear-button-bg: red;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: var(--sidebar-bg);
    --inactive-tab-bg: black;
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #ff0000;
    --activate-sidebar-fontsize-adjustment: 0%;
    --activate-sidebar-right-adjustment: 0px;
    --activate-sidebar-color: var(--sidebar-color);
    --activate-sidebar-bg: var(--sidebar-bg);
}
.barbie {
    --sidebar-bg: #ff3ec7;
    --sidebar-color: #ffc9ee;
    --sidebar-textbox-color: #fff;
    --sidebar-textbox-bg: #25e7ff;
    --sidebar-shadow: 0 0 10px #000000;
    --add-button-bg: #02ff25;
    --add-button-color: black;
    --clear-button-bg: #ff4141;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: var(--sidebar-bg);
    --inactive-tab-bg: black;
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #fab9e3;
    --activate-sidebar-fontsize-adjustment: 35%;
    --activate-sidebar-right-adjustment: 1.9%;
    --activate-sidebar-color: var(--sidebar-color);
    --activate-sidebar-bg: var(--sidebar-bg);
}
.marley {
    --sidebar-bg: #282b31;
    --sidebar-color: whitesmoke;
    --sidebar-textbox-color: #919191;
    --sidebar-textbox-bg: linear-gradient(135deg, #0004b9, #020001);
    --sidebar-shadow: 0 0 10px #000000;
    --add-button-bg: #00ff00;
    --add-button-color: black;
    --clear-button-bg: red;
    --clear-button-color: black;
    --button-border: black;
    --active-tab-bg: var(--sidebar-bg);
    --inactive-tab-bg: black;
    --inactive-tab-color: whitesmoke;
    --tab-highlight-color: #4E545FFF;
    --activate-sidebar-fontsize-adjustment: 0%;
    --activate-sidebar-right-adjustment: 0px;
    --activate-sidebar-color: var(--sidebar-color);
    --activate-sidebar-bg: var(--sidebar-bg);
}
@media (max-aspect-ratio: 1/1) {
    #sidebar {
        --topbar-height: 12vh;
        flex: none;
        width: 80vw;
        left: -80vw;
        position: fixed;
    }
    #activate-sidebar-button {
        font-size: calc(65px + var(--activate-sidebar-fontsize-adjustment));
        right: calc(-170px + var(--activate-sidebar-right-adjustment));
    }
    .sidebar-headings {
        font-size: 7vw;
        margin-top: 5%;
        margin-bottom: 3%;
    }
    .num-song-box {
        font-size: 300%;
    }
    .name-playlist-box {
        font-size: 250%;
    }
    .add-button {
        font-size: 40px;
    }
    .clear-button {
        font-size: 40px;
    }
    .listed-items {
        font-size: 45px;
        margin-left: 5%;
    }
    .tab {
        font-size: calc(400% + var(--activate-sidebar-fontsize-adjustment));
        padding: 10px 0 10px;
        height: auto;
    }
}
